.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 20px 0 0;
}

.header .head_top .left p{
    margin: 0;
    font-size: 14px;
}

.header .head_top .right ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.header .head_top .right ul li a{
    background: var(--light-color);
    padding: 5px 15px;
    border-radius: 50px;
    color: var(--dark-color);
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.main_header{
    margin-top: 25px;
}

.main_header .inner_wrapper{
    background: var(--light-color);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.main_header .inner_wrapper .navbar ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
}

.main_header .inner_wrapper .navbar ul li a{
    color: var(--dark-color);
    font-weight: var(--font-medium);
}


.main_header .inner_wrapper :global(.combo_btn){
    margin: 0;
}