.contact_section {
  background: url(../../public/contact-banner-bg.png) center/cover no-repeat;
}

.contact_section .sec_left .img {
  width: 636px;
  height: 340px;
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.contact_section .sec_left img {
  object-fit: contain;
}

.contact_section .sec_right {
  padding: 30px;
  border-radius: 16px;
}

.contact_section .sec_right .services_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.contact_section .sec_right .service_btn {
  padding: 8px 10px;
  border: unset;
  font-size: 14px;
  border-radius: 50px;
  background: var(--light-color);
  cursor: pointer;
}

.contact_section .sec_right .service_btn.active {
  background: var(--primary-color);
  color: var(--light-color);
  border: unset;
}

.contact_section .sec_right .form_group,
.contact_section .sec_right .form_group_full {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.contact_section .sec_right .form_label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.contact_section .sec_right .form_input,
.contact_section .sec_right .form_textarea {
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--gray-900);
  outline: none;
}

.contact_section .sec_right .form_textarea {
  height: 80px;
  resize: unset;
}

.contact_section .sec_right .submit_wrap {
  display: flex;
  justify-content: start;
  margin-top: 25px;
}

.contact_section .sec_right .submit_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--light-color);
  color: var(--dark-color);
  padding: 12px 24px;
  border-radius: 50px;
  cursor: pointer;
}

@media screen and (max-width:1600px) {}

@media screen and (max-width:1399px) {
  .contact_section .sec_left .img {
    width: 540px;
    height: 290px;
  }

  .contact_section .sec_right {
    padding: 0px;
  }

  .contact_section .sec_right .services_wrap {
    margin-bottom: 10px;
  }

  .contact_section .sec_right .form_group,
  .contact_section .sec_right .form_group_full {
    margin-top: 20px;
  }
}

@media screen and (max-width:1199px) {
  .contact_section .sec_left .img {
    width: 460px;
    height: 244px;
  }

  .contact_section .sec_right .form_textarea {
    height: 60px;
  }
}

@media screen and (max-width:991px) {
  .contact_section .sec_left .img {
    width: 330px;
    height: 175px;
  }
}

@media screen and (max-width:767px) {
  .contact_section .sec_right {
    margin-top: 30px;
  }
}

@media screen and (max-width:575px) {
  .contact_section .sec_left .img {
    width: 300px;
    height: 160px;
  }
}