.cta {
    position: relative;
    z-index: 1;
}

.cta .sec_left {
    padding: 140px 0;
}

.cta .sec_left .img {
    width: 89px;
    height: 89px;
    position: relative;
    z-index: 1;
}

.cta .sec_left .img img {
    object-fit: contain;
}

.cta .sec_left h2 {
    color: var(--light-color);
    margin-top: 25px;
}

.cta .sec_left :global(.combo_btn) {
    flex-wrap: nowrap;
}

.cta .sec_left :global(.combo_btn .btn),
.cta .sec_left :global(.btn:hover span) {
    width: 250px;
    background: var(--light-color);
    color: var(--dark-color) !important;
}

.cta .sec_left :global(.btn .icon) {
    background: var(--dark-color);
    z-index: 2;
}

.cta .sec_left :global(.btn .icon img) {
    filter: invert(1) brightness(11);
}

.cta .sec_left :global(.combo_btn) p {
    width: auto;
    color: var(--light-color);
    font-weight: var(--font-light);
}

.cta .sec_left .call_btn {
    margin-top: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.cta .sec_left .call_btn img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: var(--light-color);
}

.cta .sec_left .call_btn a {
    color: var(--light-color);
    font-size: 60px;
    font-weight: var(--font-medium);
}

.cta .sec_right {
    width: 663px;
    height: 635px;
    position: relative;
    z-index: 1;
}

.cta .sec_right img {
    object-fit: contain;
}

@media screen and (max-width:1399px) {

    .cta .sec_left {
        padding: 80px 0;
    }

    .cta .sec_left .call_btn a {
        font-size: 50px;
    }

    .cta .sec_right {
        width: 585px;
        height: 560px;
    }
}

@media screen and (max-width:1199px) {
    .cta .sec_left {
        padding: 60px 0;
    }

    .cta .sec_left .img {
        width: 60px;
        height: 60px;
    }

    .cta .sec_left .call_btn a {
        font-size: 40px;
    }

    .cta .sec_right {
        width: 480px;
        height: 460px;
    }
}

@media screen and (max-width:991px) {
    .cta .sec_left {
        padding: 40px 0;
    }

    .cta .sec_left h2 {
        margin-top: 15px;
    }

    .cta .sec_left :global(.combo_btn) {
        flex-direction: column;
        align-items: start;
        margin-top: 15px;
    }

    .cta .sec_left :global(.combo_btn .btn),
    .cta .sec_left :global(.btn:hover span) {
        width: auto;
    }

    .cta .sec_left .call_btn {
        margin-top: 15px;
    }

    .cta .sec_left .call_btn a {
        font-size: 30px;
    }

    .cta .sec_right {
        width: 370px;
        height: 355px;
    }
}

@media screen and (max-width:767px) {
    .cta .sec_right {
        width: 450px;
        height: 430px;
    }
}

@media screen and (max-width:575px) {
    .cta .sec_right {
        width: 305px;
        height: 290px;
    }

        .cta .sec_left .call_btn a {
        font-size: 25px;
    }
}