.portfolio_section {
    position: relative;
    z-index: 1;
}

.portfolio_section .bannerBg{
  z-index: -1;
}

.portfolio_section .book {
    position: absolute;
    z-index: -1;
}

.portfolio_section .book1 {
    top: 100px;
    left: 25%;
}

.portfolio_section .book2 {
    top: 250px;
    left: 150px;
}

.portfolio_section .book3 {
    top: 100px;
    right: 25%;
}

.portfolio_section .book4 {
    top: 240px;
    right: 100px;
}

.portfolio_section :global(.swiper .swiper-slide) {
    width: 320px;
    height: 480px;
    position: relative;
    z-index: 1;
}

.portfolio_section :global(.swiper .swiper-slide) img {
    object-fit: contain;
}

.portfolio_section .tabs {
    margin: 40px auto;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.portfolio_section .tabs li {
    border-radius: 100px;
    padding: 10px 20px;
    background: var(--ice-color);
    color: var(--deepsea-color);
    border: 1px solid #00000014;
    cursor: pointer;
    transition: var(--cubic);
}

.portfolio_section .tabs .activeTab {
    background: var(--primary-color);
    color: var(--light-color);
    border: 1px solid var(--primary-color);
}

.portfolio_section .swiper {
    position: relative;
    width: 100%;
    margin-inline: auto;
    margin-top: 40px;
}

.portfolio_section .swiper::before {
    content: "";
    position: absolute;
    top: -70px;
    left: -10%;
    width: 120%;
    height: 100px;
    background: var(--light-color);
    border-radius: 100%;
    z-index: 100;
}

.portfolio_section .swiper::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: -10%;
    width: 120%;
    height: 100px;
    background: var(--light-color);
    border-radius: 100%;
    z-index: 1000;
}

@media screen and (max-width:1600px) {
    .portfolio_section .book1 {
        top: 80px;
        left: 15%;
    }

    .portfolio_section .book2 {
        top: 230px;
        left: 10px;
    }

    .portfolio_section .book3 {
        top: 80px;
        right: 15%;
    }

    .portfolio_section .book4 {
        top: 230px;
        right: 10px;
    }

    .portfolio_section .swiper::before {
        top: -40px;
    }

    .portfolio_section .swiper::after {
        bottom: -40px;
    }
}

@media screen and (max-width:1399px) {
    .portfolio_section .tabs {
        margin: 40px auto 0;
    }

    .portfolio_section .swiper {
        margin-top: 0px;
        overflow: hidden;
    }

    .portfolio_section .swiper::before {
        top: -10px;
    }

    .portfolio_section .swiper::after {
        bottom: -10px;
    }

    .portfolio_section :global(.swiper .swiper-slide) {
        width: 100%;
        height: 560px;
    }
}

@media screen and (max-width:1199px) {
    .portfolio_section .book1 {
        top: 80px;
        left: 5%;
    }

    .portfolio_section .book2 {
        top: 230px;
        left: 0px;
    }

    .portfolio_section .book3 {
        top: 80px;
        right: 5%;
    }

    .portfolio_section .book4 {
        top: 230px;
        right: 0px;
    }

    .portfolio_section .swiper::before {
        top: -35px;
    }

    .portfolio_section .swiper::after {
        bottom: -35px;
    }
}

@media screen and (max-width:991px) {
    .portfolio_section .book1 {
        top: 80px;
        left: 10px;
    }

    .portfolio_section .book2 {
        top: 230px;
        left: 0px;
    }

    .portfolio_section .book3 {
        top: 80px;
        right: 0px;
    }

    .portfolio_section .book4 {
        top: 230px;
        right: 0px;
    }

    .portfolio_section :global(.swiper .swiper-slide) {
        width: 100%;
        height: 450px;
    }

    .portfolio_section .swiper::before {
        top: -35px;
    }

    .portfolio_section .swiper::after {
        bottom: -35px;
    }
}

@media screen and (max-width:767px) {
    .portfolio_section .book {
        width: 80px;
        height: 80px;
    }

    .portfolio_section .book img {
        object-fit: contain;
    }

    .portfolio_section .book1 {
        top: 40px;
        left: 10px;
    }

    .portfolio_section .book2 {
        top: 230px;
        left: 0px;
    }

    .portfolio_section .book3 {
        top: 40px;
        right: 0px;
    }

    .portfolio_section .book4 {
        top: 230px;
        right: 0px;
    }

    .portfolio_section .tabs {
        width: 100%;
    }

    .portfolio_section .tabs li {
        font-size: 14px;
        padding: 8px 15px;
    }

    .portfolio_section :global(.swiper .swiper-slide) {
        width: 100%;
        height: 350px;
    }

    .portfolio_section .swiper::before {
        top: -35px;
    }

    .portfolio_section .swiper::after {
        bottom: -35px;
    }

    .portfolio_section :global(.swiper .swiper-button-prev:after),
    .portfolio_section :global(.swiper .swiper-button-next:after) {
        font-size: 20px;
    }
}

@media screen and (max-width:575px) {
    .portfolio_section .book {
        display: none;
    }

    .portfolio_section .sec_top p :global(.break_line) {
        display: unset;
    }

    .portfolio_section .tabs {
        margin: 15px auto;
        gap: 5px;
    }

    .portfolio_section .swiper::before {
        top: -90px;
    }

    .portfolio_section .swiper::after {
        bottom: -90px;
    }
}