.services {
    background: url("../../public/services-banner-bg.png") center/cover no-repeat;
}

.services .content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 5px;
}

.services .content .box {
    width: 250px;
    height: 490px;
    padding: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: var(--cubic);
    cursor: pointer;
}

.services .content .box:hover {
    width: 512px;
}

.services .content .ebook_writing {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .book_trailer {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .book_audio {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .book_cover {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .book_marketing {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .book_publishing {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .ebook_writing {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .box .heading {
    color: var(--light-color);
    width: 400px;
    height: 60px;
    margin: 0;
    position: absolute;
    left: -127px;
    bottom: 220px;
    transform: rotate(-90deg);
    opacity: 1;
    transition: var(--cubic);
}

.services .content .box:hover .heading {
    opacity: 0;
}

.services .content .box .inner_box {
    opacity: 0;
    transition: var(--cubic);
}

.services .content .box:hover .inner_box {
    opacity: 1;
    transition: var(--cubic);
}

.services .content .box .inner_box :is(h3, p, ul li h4, ul li p) {
    color: var(--light-color);
}

.services .content .box .inner_box p:global(.scroll_block) {
    height: 145px;
}

.services .content .box .inner_box ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

/* .services .content :global(.slick-center) .box .inner_box {
  opacity: 1;
  transition: var(--cubic);
} */

@media screen and (max-width:1600px) {
    .services .content .box {
        width: 200px;
    }

    .services .content .box:hover {
        width: 700px;
    }
}

@media screen and (max-width:1399px) {
    .services .content .box {
        width: 150px;
    }

    .services .content .box:hover {
        width: 700px;
    }
}

@media screen and (max-width:1199px) {
    .services .content .box {
        width: 150px;
        height: 450px;
        padding: 50px 20px;
    }

    .services .content .box:hover {
        width: 700px;
    }

    .services .content .box .inner_box p:global(.scroll_block) {
        height: 150px;
    }
}

@media screen and (max-width:991px) {
    .services .content .box {
        width: 100px;
        padding: 30px 20px;
    }

    .services .content .box:hover {
        width: 700px;
    }

    .services .content {
        gap: 15px;
    }

    .services .content .box .heading {
        left: -157px;
        bottom: 220px;
    }
}

@media screen and (max-width:767px) {

    .services .content .box,
    .services .content .box:hover {
        width: 100%;
        height: 420px;
        padding: 30px 20px;
    }

    .services .content .box .heading {
        display: none;
    }

    .services .content .box .inner_box {
        opacity: 1;
        transition: var(--cubic);
    }

    .services .content :global(.swiper) {
        padding-bottom: 50px;
    }
}

@media screen and (max-width:575px) {
    .services .content .box .inner_box ul li p{
        font-size: 12px;
        line-height: 16px;
    }
}