.services {
    background: url("../../public/services-banner-bg.png") center/cover no-repeat;
}

.services .content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 5px;
}

.services .content .slick-slider .slick-list {
    padding: 0 !important;
}

.services .content .box {
    width: 250px;
    height: 550px;
    padding: 50px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: var(--cubic);
    cursor: pointer;
}

.services .content .box:hover {
    width: 512px;
}

/*.services .content :global(.slick-center) .box {
  width: 100%;
}

 .services .content :global(.slick-slide) {
  width: 250px !important;
}

.services .content :global(.slick-center){
  width: 512px !important;
} */

.services .content .ebook_writing {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .book_trailer {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .book_audio {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .book_cover {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .book_marketing {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .book_publishing {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .ebook_writing {
    background: url("../../public/ebook-writing-bg.png") center/cover no-repeat;
}

.services .content .box .heading {
    color: var(--light-color);
    width: 400px;
    height: 60px;
    margin: 0;
    position: absolute;
    left: -127px;
    bottom: 220px;
    transform: rotate(-90deg);
    opacity: 1;
    transition: var(--cubic);
}

.services .content .box:hover .heading {
    opacity: 0;
}

/* .services .content :global(.slick-center) .box .heading{
  opacity: 0;
} */

.services .content .box .inner_box {
    opacity: 0;
    transition: var(--cubic);
}

.services .content .box:hover .inner_box {
    opacity: 1;
    transition: var(--cubic);
}

.services .content .box .inner_box :is(h3, p, ul li h4, ul li p) {
    color: var(--light-color);
}

.services .content .box .inner_box ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

/* .services .content :global(.slick-center) .box .inner_box {
  opacity: 1;
  transition: var(--cubic);
} */