.thank_you {
    padding: 300px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.thank_you .bannerBg {
    z-index: -1;
}

.thank_you h1 {
    text-transform: uppercase;
}

.thank_you .btn {
    color: var(--dark-light);
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width:1600px) {
    .thank_you {
        padding: 250px 0 100px;
    }
}

@media screen and (max-width:1399px) {
    .thank_you {
        padding: 220px 0 100px;
    }
}

@media screen and (max-width:991px) {
    .thank_you {
        padding: 130px 0 60px;
    }
}

@media screen and (max-width:767px) {
    .thank_you {
        padding: 130px 0 40px;
    }
}